# ==========================================
# FastAPI & Python Core
# ==========================================
__pycache__/

# ==========================================
# Environment Variables & Secrets (CRITICAL)
# ==========================================
.env

# ==========================================
# Virtual Environments
# ==========================================
.aidip/

storage/documents

readme.md